VITE_ORDER_API_URL=http://127.0.0.1:8080/api/v1/orders
VITE_INVENTORY_API_URL=http://127.0.0.1:8080/api/v1/inventory
VITE_KEYCLOAK_URL=http://127.0.0.1:8081
VITE_KEYCLOAK_REALM=commerce
VITE_KEYCLOAK_CLIENT_ID=commerce-frontend
